streamlit~=1.47.1
openai~=1.97.0
chromadb~=1.0.15
python-dotenv~=1.1.1
pillow~=11.3.0
pandas~=2.3.1
uuid~=1.30
pytesseract~=0.3.13
pinecone~=7.3.0
langchain-openai~=0.3.28
pydantic~=2.11.7
langchain~=0.3.27
easyocr~=1.7.2
numpy~=2.2.6
firebase_admin~=7.1.0
langchain-core~=0.3.72
firebase_admin~=7.1.0
firebase_admin~=7.1.0
cv2
firebase_admin~=7.1.0
protobuf~=6.31.1